# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Backend/ASW.Sensors.API/ASW.Sensors.API/appsettings.Development.json
Backend/ASW.Sensors.API/ASW.Sensors.API/obj/
Backend/ASW.Sensors.API/ASW.Sensors.API/bin/
Backend/ASW.Sensors.API/.vs
